/* setup the layout in function of device */
body {
  background-color: #F2F2F2; }

#myBooks {
  text-align: center;
  font-family: 'Redressed', cursive;
  background: linear-gradient(to bottom right, #1C8C81, #2AD2BF);
  border: 2px solid;
  border-radius: 10px 10px;
  margin-right: 2%;
  margin-left: 2%;
  box-shadow: 5px 5px 10px black; }

@media screen and (max-width: 740px) {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin-left: 2%; }

  h2 {
    font-size: 1em; }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%; }

  #logo {
    height: 80px;
    width: 80px;
    background-image: url("../image/logo/logo.svg");
    background-position: center;
    border: 1px solid;
    border-radius: 5px 5px;
    box-shadow: 2px 2px 5px black;
    justify-content: flex-start; } }
@media screen and (min-width: 740px) and (max-width: 1024px) {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-left: 2%; }

  h2 {
    font-size: 1.5em; }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%; }

  #logo {
    height: 120px;
    width: 120px;
    background-image: url("../image/logo/logo.svg");
    background-position: center;
    border: 1px solid;
    border-radius: 5px 5px;
    box-shadow: 2px 2px 5px black;
    justify-content: flex-start; } }
@media screen and (min-width: 1024px) {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-left: 2%; }

  h2 {
    font-size: 2em; }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    margin-top: 2%; }

  #logo {
    height: 160px;
    width: 160px;
    background-image: url("../image/logo/logo.svg");
    background-position: center;
    border: 1px solid;
    border-radius: 5px 5px;
    box-shadow: 2px 2px 5px black;
    justify-content: flex-start; }

  .icon-result {
    width: 80px;
    height: 80px; }

  .picture-result {
    width: 80px;
    height: 80px; } }
