/* setup the layout in function of device */
$clr_bckgrd: #F2F2F2;
$clr_myBooks_1: #1C8C81;
$clr_myBooks_2: #2AD2BF;
$clr_bck_add: #011c37;
$clr_bck_submit: #008080;
$clr_bck_cancel: #ef5134;
$logo_url: "../image/logo/logo.svg";
$logo_size: 80px;
$picture_size_width: 50%;
$picture_size_height: 65%;
$icon_size: 40px;
$icon_solid: "../image/bookmark-solid.svg";
$margin: 2%;
$size: 1em;

body {
	background-color: $clr_bckgrd;
}

label {
	display: block;
}

h1 {
	font-family: 'Playfair Display', serif;
	margin-left: $margin;
}

.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: $margin;
	margin-top: $margin;
}

.result-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	border: 2px solid;
	width: 90%;
	padding: $margin/2;
	margin-bottom: $margin;
	background-color: #d2d2d2;
	border-radius: 10px 10px;
	box-shadow: 5px 5px 10px black;
	&>.entete-block {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&>.icon-result {
   			width: $icon_size/1.5;
   			height: $icon_size/1.5;
   			align-self: flex-start;
   			cursor: pointer;
   			transform: scale(1);
   			transition: transform 300ms;
   			&:hover{
   				transform: scale(1.1);
   			}
   		}
   	}
   	&>.picture-result {
   		border: 2px solid;
    	box-shadow: 3px 2px 1px black;
   		position: relative;
   		left: 50% - ($picture_size_width/2);
   		max-width: $picture_size_width;
		max-height: $picture_size_height;
	}
}

#myBooks {
	text-align: center;
	font-size: $size;
	font-family: 'Playfair Display', serif;
	margin-right: $margin;
	margin-left: $margin;
}

#form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&>#title-search {
		width: 100%;
		font-size: $size * 1.1;
   		margin-bottom: $margin;
	}
	&>#author-search {
		width: 100%;
		font-size: $size * 1.1;
	}
}

#logo {
	background-image: url($logo_url);
	background-position: center;
	border: 1px solid;
	border-radius: 5px 5px;
	box-shadow: 2px 2px 5px black;
	justify-content: flex-start;
}

#addNewBook {
	background: $clr_bck_add;
   	color: $clr_myBooks_2;
   	padding-bottom: 2px;
   	cursor: pointer;
   	border-radius: 3px 3px;
   	transform: scale(1);
   	transition: transform 300ms;
   	&:hover {
       	transform: scale(1.1);
   	}
}

#submit {
	background: $clr_bck_submit;
   	color: $clr_bckgrd;
   	width: 150px;
   	cursor: pointer;
   	border-radius: 3px 3px;
   	margin-top: $margin;
   	margin-bottom: $margin;
   	transform: scale(1);
   	transition: transform 300ms;
   	&:hover {
       	transform: scale(1.1);
       	background-color: darken($clr_bck_submit, 5%);
   	}
}

#reset {
	background: $clr_bck_cancel;
   	color: $clr_bckgrd;
   	width: 150px;
   	cursor: pointer;
   	border-radius: 3px 3px;
   	transform: scale(1);
   	transition: transform 300ms;
   	&:hover {
       	transform: scale(1.1);
       	background-color: darken($clr_bck_cancel, 5%);
   	}
}

#result>#containerResearch, #content>#containerSave {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

//Media query for phone
@media screen and (max-width: 740px) {
	h1, h2, label, #addNewBook, #submit, #reset {
		font-size: $size;
	}

	.title {
		justify-content: center;
	}

	#logo {
		height: $logo_size;
		width: $logo_size;
	}

	#form>#title-search, #form>#author-search {
		font-size: $size / 1.2;
	}
}

//Media query for tablet
@media screen and (min-width: 740px) and (max-width: 1024px) {
	h1, h2 {
		font-size: $size * 1.5;
	}

	label, #addNewBook, #submit, #reset  {
		font-size: $size * 1.2;
	}

	.result-block {
		width: 38%;
		&>.entete-block>.icon-result {
    		width: $icon_size/1.2;
    		height: $icon_size/1.2;
    	}
  	}

	#logo {
		height: $logo_size * 1.5;
		width: $logo_size * 1.5;
	}
}

//Media query for normal screen
@media screen and (min-width: 1024px) {
	h1 {
		font-size: $size * 2.5;
	}

	h2 {
		font-size: $size * 2;
	}

	label, #addNewBook, #submit, #reset {
		font-size: $size * 1.5;
	}

	.result-block {
		width: 25%;
		&>.entete-block>.icon-result {
    		width: $icon_size;
    		height: $icon_size;    		
    	}
	}

	#logo {
		height: $logo_size * 2;
		width: $logo_size * 2;
	}
}